<!-- This configuration file is used to measure Tracy latency when logging 
	to file -->
<!-- see TracyTestPerf for tests including logging -->
<configuration>
	<timestamp key="byMinute" datePattern="yyyyMMdd'T'HHmm" />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/tracy-${byMinute}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg %n</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>